# Virtual Environment
venv/
.venv/
env/

# PyInstaller
build/
dist/
*.spec

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# App Config (local)
.image_setakgi/
